@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  cursor: pointer;
}

/* .container {
  width: 1280px;
  padding: 0 65px;
  margin: 0 auto;
} */

.container {
  width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

/* .header .container {
  display: flex;
} */
.section {
  padding: 50px 0;
}

.section-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav-list {
  display: flex;
  /* gap: 40px; */
}

.header-nav-list li:not(:last-child) {
  margin-right: 40px;
}

.header-nav-link {
  display: block;
  padding: 30px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #0c0c0c;
}
.header-social-list {
  display: flex;
  gap: 10px;
}
.header-social-item {
}
.header-social-link {
}

/*Catalog*/

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 32px 23px; */
  column-gap: 23px;
  row-gap: 32px;
}

.catalog-list-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  padding: 24px 32px;
  width: calc((100% - 2 * 23px) / 3);
  background: #f3f3f3;
}

.catalog-list-item-name {
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.catalog-list-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.contacts-inner {
  display: flex;
  gap: 40px;
}

.contacts-content {
  flex-shrink: 0;
  width: 580px;
  padding: 50px 60px;
  border-radius: 50px;
  background-color: #f3f3f3;
}
.contacts-form-title {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

.contacts-form-input,
.contacts-form-comment {
  width: 100%;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;

  background-color: transparent;
  outline: none;

  font-size: 16px;
  line-height: 1.25;
  transition: border-color 250ms ease-out;
}

.contacts-form-input {
  margin-bottom: 18px;
  padding: 16px 18px;
  height: 52px;
}

.contacts-form-comment {
  margin-bottom: 32px;
  padding: 16px 16px;
  height: 90px;
  resize: none;
}

.contacts-form-comment::placeholder,
.contacts-form-input::placeholder {
  color: #0c0c0c;
}

.contacts-form-input:focus,
.contacts-form-comment:focus {
  border-color: #3350e9;
}

.contacts-form-btn {
  min-width: 160px;
  border-radius: 16px;
  padding: 17px 24px;

  background-color: #3350e9;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;

  transition: background-color 250ms ease-out;
}

.contacts-form-btn:hover,
.contacts-form-btn:focus {
  background-color: #1f3cd4;
}
.contacts-img-wrapper {
  border-radius: 50px;
  overflow: hidden;
  flex-grow: 1;
}

.contacts-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(71, 123, 255, 0.388);

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  border-radius: 12px;

  background-color: #fff;
  width: 408px;
  min-height: 500px;
  transform: translate(-50%, -50%);
}
